{% extends 'base.html'%}
{% load static %}



{% block content %}

        <h1 class="text-4xl font-bold text-white">Correo Enviado Exitosamente</h1>

        <a href="/cursos/"><button class="middle none center rounded-lg bg-white py-3 px-6 font-sans text-xs font-bold uppercase text-black shadow-md  transition-all hover:shadow-lg focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" data-ripple-light="true">Regresar Cursos</button></a>


{% endblock %}